target/
node_modules/
contracts/*/src/packages
contracts/*/target
artifacts/
contracts/*/artifacts
.DS_Store

# This repo specific
keys.terrain.js
keys.json
code_id.json
contract_address.json

# VSCode related
launch.json