# general
.DS_Store
node_modules/

# Rust/CosmWasm specific
target/
artifacts/
contracts/*/artifacts
contracts/*/src/packages
contracts/*/target

# This repo specific
keys.terrain.js
keys.json
code_id.json
contract_address.json

# VSCode related
launch.json